<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #272729;">
    <a class="navbar-brand" style="font-size: 40px;" href="/">Readdit</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <form method="POST" action="/login" name="username" style="position: fixed; top: 25px; right: 20px; border: 0;">
          <a class="btn btn-dark" style="background-color: #ff4500;" href="/register">Register</a>
          <a class="btn btn-dark submit" href="/login" style="margin-left: 10px; background-color: #ff4500;">Log In</a>
        </form>
    </div>
    </div>
  </nav>
</header>
