<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/authorisation.css" />

    <title>Login</title>
  </head>

  <body class="pageBody">
    <header><%- include('partials/header.ejs') %></header>
    <h1><strong>Login</strong></h1>
    <form method="POST" action="/login">
      <h5>Email</h5>
      <div class="inputField">
        <input placeholder="Email" type="email" name="email" />
      </div>
      <h5>Password</h5>
      <div class="inputField">
        <input placeholder="Password" type="password" name="password" />
      </div>
      <br />
      <div class="submitButton">
        <button class="btn btn-dark registerButton">Login</button>
      </div>
    </form>
  </body>
</html>
