h1 {
  color: white;
  margin: 10px 0 0 10px ;
}

h5 {
  color: white;
  margin-left: 10px;
}

input {
  margin: 0 0 10px 10px;
  background-color: #272729;
}

.pageBody {
  background-color: black;
}

.registerButton {
  background-color: #ff4500;
  margin: 10px 0 0 10px;
}


