body {
  background-color: black;
}

label {
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
}

h2 {
  font-size: 1.5rem;
}

#contributions,
#story {
  div {
    display: inline-block;
    background-color: #272729;
    border: 2px solid black;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    width: 50vw;

    p {
      color: white;
    }
  }
}

#story {
  div {
    display: flex;
    flex-direction: column;

    button {
      max-width: 200px;
      margin: 15px auto 5px;
    }
  }
}

#suggest_contribution {
  margin-top: 50px;

  label {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  input {
    margin-top: 10px;
    background-color: #ff4500;
    color: black;

    &:hover {
      color: white;
    }
  }
}

#contributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    i {
      margin-left: 10px;
    }

    .upvoteNum {
      padding: 0;

      p {
        margin: 0;
      }
    }
  }
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    margin: 0 15px;
  }

  textarea {
    background-color: #272729;
    border: 2px solid black;
    color: white;
    width: 50vw;
    padding: 15px;
  }
}

.mainContent {
  margin-top: 6em;
}

.story-title,
.submitted-contributions {
  margin-top: 25px;
}

.upvote-btn {
  background-color: #ff4500;
  border: 0;

  &:hover {
    background-color: #ff4500;
  }
}

.complete {
  color: lime;
  margin-top: 10px;

  &-story input {
    background-color: #ff4500;
    color: black;

    &:hover {
      color: white;
      background-color: #ff4500;
    }
  }
}

.incomplete {
  color: yellow;
  margin-top: 10px;
}

.addContribution {
  height: 2em;
  width: 5em;
}
