body {
  background-color: black;
}

label {
  color: white;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
}

#contributions,
#story {
  div {
    display: inline-block;
    background-color: #272729;
    border: 2px solid black;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    width: 50vw;

    p {
      color: white;
    }
  }
}

#story {
  div {
    display: flex;
    flex-direction: column;

    button {
      max-width: 200px;
      margin: 15px auto 5px;
    }
  }
}

#suggest_contribution {
  margin-top: 30px;

  label {
    padding-bottom: 10px;
  }

  input {
    margin-top: 10px;
  }
}

#contributions {
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    justify-content: space-between;
  }
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;

  input {
    margin: 0 15px;
  }

  textarea {
    background-color: #272729;
    border: 2px solid black;
    color: white;
    width: 50vw;
  }
}

.mainContent {
  margin-top: 6em;
}

.story-title,
.submitted-contributions {
  margin-top: 25px;
}

.upvote-btn {
  background-color: white;
  height: 2em;
  margin-right: 1em;
  width: 5em;
}

.complete {
  color: #ff4500;
  margin-top: 15px;
}

.incomplete {
  color: green;
  margin-top: 15px;
}

.addContribution {
  height: 2em;
  width: 5em;
}
