a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

p {
  color: white;
}

.stories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}


