a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

p {
  color: white;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
}

#stories-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

.homePageBody {
  background-color: black;
}


