div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}

.submit_story {
  width: 5em;
  height: 2em;
}

.storyName {
  width: 30em;
  margin: 2em;
}

.content {
  width: 50em;
  height: 20em;
  margin: 2em;
}




