#submit_story {
  background-color: #ff4500;
  margin: auto;
  color: black;

  &:hover {
    color: white;
  }
}

.bodyAttributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.pageBody {
  background-color: black;
}

.mainContent {
  margin-top: 6em;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.storyNameLabel {
  display: flex;
  justify-content: center;
  color: white;
}

.storyNameDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.storyName {
  background-color: #272729;
  border: 2px solid black;
  color: white;
  margin-bottom: 10px;
  width: 30em;
}

.storyBodyLabel {
  display: flex;
  justify-content: center;
  color: white;
}

.storyBodyDiv {
  display: flex;
  justify-content: center;
}

.content {
  background-color: #272729;
  border: 2px solid black;
  color: white;
  height: 20em;
  margin-bottom: 10px;
  width: 50em;
}

textarea,
.storyName {
  padding: 10px 15px;
}

label {
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}
