#submit_story {
  background-color: #ff4500;
  margin: auto;
  width: 10%;
}

.bodyAttributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.pageBody {
  background-color: black;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.storyNameLabel {
  color: white;
  display: flex;
  justify-content: center;
}

.storyNameDiv {
  display: flex;
  justify-content: center;
}

.storyName {
  background-color: #272729;
  border: 2px solid black;
  color: white;
  margin: 2em;
  width: 30em;
}

.storyBodyLabel {
  color: white;
  display: flex;
  justify-content: center;
}

.storyBodyDiv {
  display: flex;
  justify-content: center;
}

.content {
  background-color: #272729;
  border: 2px solid black;
  color: white;
  height: 20em;
  margin: 2em;
  width: 50em;
}
