.createStory {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.createStoryButton {
  background-color: #ff4500;
  margin-top: 1em;
}

.createStoryButton:hover {
  background-color: #c23805;
}

.story {
  background-color: #272729;
  margin: 1em 5em;
}

.story:hover {
  box-shadow: 5px 5px #ff4500;
}

.storyContent {
  display: flex;
  color: white;
  font-weight: 600;
  margin: 2em 2em 1em 2em;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breakLine {
  background-color: #000000;
  height: 3px;
  size: 1em;
  width: 95%;
}

.storyFooter {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 0 1.5em 0 2em;
}

.status {
  display: flex;
  justify-content: end;
}

.completed {
  color: lime;
}

.incomplete {
  color: yellow;
}
